.tableStyle {
    margin-top: 3vw;
}

.tableHead {
    background-color: #0F1841;
  }
  

  .tableHead .MuiTableCell-root {
    color: white;
  }

  .scrollableTable {
    max-height: 370px;
    height: 370px;
    overflow-y: auto;
  }


  .table th {
    /* ... */
    border-right: 1px solid #ddd;
  }
  
  .tableTd {
    padding: 8px;
    border-right: 1px solid #ddd; 
    border-bottom: 1px solid #ddd;
  }
  
  .table td:last-child {
    border-right: none; 
  }